* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #227093;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.App {
  background-color: white;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  width: 700px;
  max-width: 100%;
  text-align: center;
}

.App input {
  padding: 0.5rem;
}

.App button {
  border: 0;
  padding: 0.6rem;
  border-radius: 5px;
  margin-left: 0.5rem;
  background-color: #34ace0;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  color: white;
}

.App button:active {
  transform: scale(0.96);
}

select {
  padding: 0.5rem;
  border-radius: 5px;
}
